.btn {
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
}

.btn-main {
    background-color: $btn-primary;
    border: 1px solid $btn-primary;
    border-radius: 10px;
    color: $white-color;
    cursor: pointer;
    &:hover {
        background-color: $btn-primary-hover;
        border: 1px solid $btn-primary-hover;
    }
}

.btn-reset {
    background-color: $btn-reset;
    border: 1px solid $btn-reset;
    border-radius: 10px;
    color: $text-color;
    cursor: pointer;
    &:hover {
        background-color: $btn-reset-hover;
        border: 1px solid $btn-reset-hover;
    }
}