.content {
    margin-top: 25px;
    padding: 20px;
}

.header {
    margin-bottom: 40px;
    color: $white-color;
}

.sex {
    background-color: $primary-background;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    p {
        margin-bottom: 20px;
        color: $white-color;
    }
    .radio-toolbar {
        display: flex;
    }
    .radio-toolbar input[type="radio"] {
        display: none;
    }
    .radio-toolbar label {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        padding: 10px;
        font-size: 16px;
        margin-right: 10px;
        cursor: pointer;
        i {
            width: 30px;
            height: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: $white-color;
            font-size: 20px;
        }
    }
    .radio-toolbar label {
        border: 2px solid $white-background;
    }

    .radio-toolbar input[type="radio"]:checked+label {
        background-color: $white-background;
        i {
            color: $secondary-color;
        }
    }

}

.birthday {
    background-color: $primary-background;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    p {
        color: $white-color;
    }
    .birthday-wrapper {
        display: flex;
        flex-direction: column;
        margin-top: 10px;
    }
    select {
        background-color: $white-background;
        padding: 10px 20px;
        border: 1px solid $white-background;
        border-radius: 10px;
        color: $secondary-color;
        margin-bottom: 10px;
    }
}

.action {
    margin-bottom: 20px;
    text-align: right;
}

.result-section {
    display: none;
}

.result-section.open{
    display: block;
    background-color: $white-background;
    text-align: center;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    #result-header {
        margin-bottom: 10px;
    }
    #result {
        font-size: 20px;
        font-weight: 600;
    }
}

.footer {
    padding: 0 20px;
    text-align: right;
    p {
        color: $white-color;
    }
}